<div class="new-author"></div>
<form class="new-novelist" method="post" action="/library/new">
	<div>
		<h2>Create Novelist</h2>
		<label>Name:</label>
		<input type="text" name="name" autofocus>
	</div>
	<div>
		<label>Gender:</label>
		<input type="text" name="gender">
	</div>
	<div>
		<label>Born:</label>
		<input type="text" name="born">
	</div>
	<div>
		<label>Died:</label>
		<input type="text" name="died">
	</div>
	<div>
		<label>Nationality:</label>
		<input type="text" name="nationality">
	</div>
	<input type="submit" value="Submit"/>
</form>

