<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<title>Novelists Galore</title>
</head>
<body>
	<header id="header">
	  <h1><a href="/">Novelists Galore</a></h1>
	</header>
	<%= yield %>
</body>
</html>